body{
    background-color: #0ffcc0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

title{
    text-align: center;
    text-decoration: wavy;
}

information{
    background-color: #66cccc;
    padding: 10px;
}

button{
    font-weight: bold;
    background-color: #66cccc;
    border-radius: 4px;
    border-color: #339999;
    text-align: center;
    cursor: pointer;
}

button:hover{
    background-color: #009999;
    border-color: #339999;
}
